@import "./utils/mixins.scss";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
}

html {
  background-color: rgb(31, 20, 53);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter-Bold", sans-serif;
  margin: 0px;
  padding: 0px;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}
.page-enter {
  opacity: 0;
  transform: scale(1.08);
  @include devices(tablet) {
    transform: unset;
  }
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
  @include devices(tablet) {
    transform: unset;
    transition: opacity 300ms;
  }
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.92);
  transition: opacity 300ms, transform 300ms;
  @include devices(tablet) {
    transform: unset;
    transition: opacity 300ms;
  }
}

a {
  text-decoration: none;
  transition: text-decoration-color 250ms;
  cursor: pointer;
  background-size: 100% 2px, 0 2px;
  background-position: 0% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
